@font-face {
  font-family: 'iconfont';  /* project id 571674 */
  src: url('https://at.alicdn.com/t/font_571674_kt6lawonsrbjra4i.eot');
  src: url('https://at.alicdn.com/t/font_571674_kt6lawonsrbjra4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571674_kt6lawonsrbjra4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571674_kt6lawonsrbjra4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571674_kt6lawonsrbjra4i.svg#iconfont') format('svg');
}
.banner{
	width: 100%;
	height: 5.3rem;
	position: relative;
}
.banner_jiantou{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 0.25rem;
	left: 0.29rem;
	font-size: 0.9rem;
	color: #F96A64;
	line-height: 1.1rem;
	text-align: center;
}
.part1{
	width: 100%;
	height: 3.64rem;
	background-color: #ccc;
	padding-top: 0.86rem;
	padding-bottom: 0.8rem;
}
.part1_z1{
	text-align: center;
	font-size: 0.4rem;
	color: #807C75;
}
.part1_z2{
	text-align: center;
	font-size: 0.28rem;
	color: #97928C;
	margin-top: 0.34rem;
}
.part2{
	width: 100%;
	height: 7.23rem;
}
.part3{
	width: 100%;
	height: 2.88rem;
	background-color: red;
}
.sp1{
	width: 50%;
	height: 8.75rem;
	padding-top: 1.8rem;
	float: left;
}
.sp1_img{
	width: 3.58rem;
	height: 5rem;
	margin: 0 auto;
}
.sp1_wenzi1{
	width: 2.23rem;
	height: .56rem;
	margin: 0 auto;
	color: #655546;
	font-size: 0.4rem;
	line-height: .56rem;
	text-align: center;
	margin-top: 0.11rem;
}
.sp1_wenzi2{
	margin: 0 auto;
	color: #A3886D;
	font-size: 0.28rem;
	line-height: .56rem;
	text-align: center;
	margin-top: 0.15rem;
}
.sp1_wenzi3{
	font-family: 'iconfont';
	font-size: 0.36rem;
	color: #C9285E;
	line-height: .56rem;
	text-align: center;
	margin-top: 0.1rem;
}