@font-face {
  font-family: 'iconfont';  /* project id 571674 */
  src: url('https://at.alicdn.com/t/font_571674_wpgsreafzksjdcxr.eot');
  src: url('https://at.alicdn.com/t/font_571674_wpgsreafzksjdcxr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571674_wpgsreafzksjdcxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571674_wpgsreafzksjdcxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571674_wpgsreafzksjdcxr.svg#iconfont') format('svg');
}
body{
	background-color: #F6F6F6;
}
.banner{
	width: 100%;
	height: 5.99rem;
	border-bottom: 0.02rem solid #211F20;
	position: relative;
}
.touxaing{
	width: 2.41em;
	height: 2.41em;
	border-radius: 50%;
	background-color: #ccc;
	position: absolute;
	top: 0.56rem;
	left: 4.2rem;
}
.touxaing p{
	font-family: 'iconfont'; 
	font-size: 0.8rem;
	text-align: center;
	line-height: 2.41rem;
}
.banner_zi{
	position: absolute;
	top: 3.32rem;
	left: 4.45rem;
	font-size: 0.28rem;
	color: #000;
}
.xiangqing{
	width: 100%;
	height: 2.39rem;
	font-size: 0.4rem;
}
.xq_2{
	color: #000;
	margin-left: 0.62rem;
	margin-top: 0.53rem;
	float: left;
}
.four_part{
	width: 100%;
	height: 4.87rem;
	margin-top: 0.48rem;
}
.fp_1{
	width: 5.34rem;
	height: 2.4rem;
	margin-left: 0.03rem;
	float: left;
}
.fp1_1{
	margin: 0 auto;
	margin-top: 0.48rem;
	color: #000;
}
.fp1_1 p{
	font-family: 'iconfont';
	font-size: 0.58rem;
	color: #7D7D7D;
	text-align: center;
}
.fp1_1 h1{
	font-size: 0.4rem;
	color: #BDBDBD;
	text-align: center;
}
.fp_2{
	margin-left: 0.06rem;
}
.fp_3{
	margin-top: 0.06rem;
}
.kefu{
	width: 5.7rem;
	height: 0.99rem;
	margin: 0 auto;
	margin-top: 2.02rem;
}
.kf_1{
	color:#8D8D8D;
	font-size: 0.4rem;
	float: left;
	margin-left: 0.32rem;
}
.kf_2{
	color:#E98484;
	font-size: 0.4rem;
	float: left;
}
.kf_3{
	color:#8D8D8D;
	font-size: 0.4rem;
	float: left;
	font-size: 0.3rem;
}
.fp1_1 h1{
	color: #262626;
}


.dibu{
	width: 100%;
	height: 1.41rem;
	padding-left: 0.93rem;
	padding-right: 0.93rem;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
}
.sy{
	padding-top: 0.12rem;
	float: left;
}
.sy p{
	font-family: 'iconfont';
	font-size: 0.58rem;
	color: #BDBDBD;
	text-align: center;
}
.sy3 p{
	color: #F89597;
}
.sy h1{
	font-size: 0.4rem;
	color: #BDBDBD;
	text-align: center;
}
.xq_2 h1{
	color: #262626;
}
.sy1{
	width: 0.86rem;
	padding-top: 0.12rem;
	/* float: left; */
	margin: 0 auto;
}
.sy1 p{
	font-family: 'iconfont';
	font-size: 0.58rem;
	color: #7D7D7D;
	text-align: center;
}
.sy1 h1{
	font-size: 0.4rem;
	color: #BDBDBD;
	text-align: center;
}
.sy2{
	position: absolute;
	top: 0;
	right: 0.93rem;
}
.sy:hover .sy p{
	color: #F89597;
}